{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="left">
        <label for="currency">Currency:</label>
        <select id="currency">
            <option value="GBP">£ GBP</option>
            <option value="USD">$ USD</option>
            <option value="EUR">€ EUR</option>
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
                <th>Time (UTC)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if expenses %}
                {% for expense in expenses %}
                    <tr>
                        <!-- Formats the amounts as a currency -->
                        <td><span class="currency-symbol">£</span>{{ "%.2f" | format(expense.amount) }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.desc }}</td>
                        <td>{{ expense.time | datetimefmt }}</td>
                        <!-- Send to edit page of the expense -->
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ url_for('edit', expense_id=expense.id) }}">Edit</a>
                            <a class="btn btn-primary btn-sm btn-danger" href="{{ url_for('remove', expense_id=expense.id) }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}