.btn {
    border: 2px solid black;
    border-radius: 10px;
}

.table {
    text-align: center;
}

/* Set the font for all text */
text {
    font-family: Inter;
}

.left {
    text-align: left;
}

.sortable {
    cursor: pointer;
    user-select: none;
}